* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/assets/splash\ image.jpg);
}

/* containers */

#outside-box {
    display: flex;
    height: 100vh ;
    align-items: center;
    justify-content: center;
}

#trans-center-box {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

#trans-center-box:hover {
    background-color: rgb(0 0 0 / 10%);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.116)  ;
}
/* inside trans box */
.middle-box {
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* containers end */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
/*forms */
.form {
    padding: 10px;
    text-align: center;
}

.input {
    width: 300px;
    padding: 5px;
    margin: 10px 15px 15px 0px; 
   background-color: rgba(0, 0, 0, 0);
   border-bottom: 1px solid grey;
   border-top: none;
   border-right: none;
   border-left: none;
} 

label {
    color: whitesmoke;
    margin-right: 5px;
    margin-top: 20px;
}

.label2 {
    margin-right: 35px;
}

.button {
margin: 20px 50px;
padding: 10px 30px;
border-radius: 4px;
border: none;
background-color: #4fd728;
}

button:hover {
    background-color: cyan;
    
    
}






