* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(/assets/splash\ image.jpg);
}

/* containers */

#outside-box {
    display: flex;
    height: 100vh ;
    align-items: center;
    justify-content: center;
}

#trans-center-box {
    width: 500px;
    background-color: rgb(235, 235, 235);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.383);
    height: 300px;
    border-radius: 10px;
}


/* inside trans box */





/* containers end */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
/*forms */
.form {
    padding: 10px;
    text-align: center;
}

.input {
    width: 300px;
    padding: 5px;
    
} 

#email-input {
    margin-bottom: 25px;
    margin-left: 10px;
}

#pass-input {
    margin-left: 40px;
    margin-bottom: 30px;
}




.button {
margin: 20px 50px;
padding: 10px 30px;
border-radius: 4px;
border: none;
background-color: #4fd728;
}

button:hover {
    background-color: cyan;
    
    
}






